.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.nav:before,
.nav:after {
    content: " ";
    display: table
}

.nav:after {
    clear: both
}

.nav>li {
    position: relative;
    display: block
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    background-color: transparent
}

.nav>li>a>img {
    max-width: none
}

.nav-tabs {
    border-bottom: 1px solid transparent;
    margin: 0
}

.nav-tabs>li {
    display: inline-block;
    margin-bottom: -3px
}

.nav-tabs>li>a {
    text-transform: uppercase;
    margin-right: 2px;
    line-height: inherit;
    font-weight: bold;
    color: #999;
    border: 1px solid transparent;
    border-radius: 0 0 0 0;
    font-family: Montserrat, serif
}

.nav-tabs>li>a:hover {
    border-color: transparent transparent transparent
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #000;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-bottom-color: transparent;
    cursor: default
}

.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: block
}

.tshopify-popup {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    z-index: 999999;
    top: 0;
    height: 0;
    width: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out
}

.tshopify-popup.wishlist-popup .btn-cart {
    display: none
}

.tshopify-popup.loading {
    z-index: 999
}

.tshopify-popup .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0 !important;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0
}

.tshopify-popup .content {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    position: relative;
    background: #fff;
    min-width: 490px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out
}

@media (max-width: 1500px) {
    .tshopify-popup .content {
        max-width: 700px
    }
}

@media (max-width: 1300px) {
    .tshopify-popup .content {
        max-width: 650px
    }
}

.tshopify-popup.active {
    visibility: visible;
    opacity: 1;
    top: 0;
    height: auto;
    width: auto
}

.tshopify-popup.active .content {
    max-height: 100%
}

.tshopify-popup.active .overlay {
    width: 100%;
    height: 100%
}

.tshopify-popup .close-window {
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    color: #fff;
    width: 24px;
    height: 24px;
    text-align: center
}

.tshopify-popup .close-window i {
    line-height: 24px
}

.tshopify-popup .success-message:hover:before {
    background: #ffb533;
    color: #fff
}

.tshopify-popup .success-message:before {
    font-family: FontAwesome;
    content: "\f00c";
    display: inline-block;
    margin-right: 10px;
    font-size: 12px
}

.tshopify-popup.loading .loader {
    left: 50%;
    position: fixed;
    top: 50%;
    -moz-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%)
}

.tshopify-popup .product-name {
    font-weight: 700
}

.filter-block {
    clear: both
}

.filter-block ul.box-list-stype li {
    line-height: 30px
}

.filter-block ul.box-grid-stype li {
    display: inline-block;
    padding: 0 0;
    padding-right: 10px
}

.filter-block ul.box-grid-stype li .color {
    width: 20px;
    height: 20px;
    border: 1px solid #333
}

.filter-block ul.box-grid-stype li input {
    display: none
}

.filter-block ul.box-grid-stype li a span {
    display: block;
    width: 30px;
    height: 20px
}

.filter-block ul.box-grid-stype li.active .color {
    border: 2px solid #e0545f
}

.filter-block ul.box-grid-stype li label {
    color: #e0545f
}

.filter-block ul.box-grid-stype.sizes a span {
    width: 50px;
    border: solid 1px #CCC
}

.filter-block ul.box-list-stype li label {
    color: #e0545f
}

.filter-block .clear {
    float: right;
    line-height: 15px;
    text-transform: none;
    color: red
}

.filter-block h5.filter-title {
    font-size: 12px;
    color: #E0545F;
    margin: 20px 0
}

.colors .SteelBlue {
    background-color: #ff1500
}

.colors .Tan {
    background-color: #0c0c0c
}

.colors .Violet {
    background-color: #1bf338
}

.colors .YellowGreen {
    background-color: #f1fc10
}

.colors .LemonChiffon {
    background-color: #898989
}

.colors .HotPink {
    background-color: #ffffff
}

.colors .PaleGreen {
    background-color: #ff0801
}

.colors .CadetBlue {
    background-color: #ff019e
}

.colors .PaleVioletRed {
    background-color: #ff019e
}

.li-price input {
    display: none
}