@font-face {
    font-family: 'icons';
    src: url("../fonts/icons.eot");
    src: url("../fonts/icons.eot#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#timber-icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

.clearfix {
    *zoom: 1
}

.clearfix:after {
    content: '';
    display: table;
    clear: both
}

*,
input,
:before,
:after {
    box-sizing: border-box
}

html,
body {
    padding: 0;
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

.grid,
.grid--rev,
.grid--full,
.grid-uniform {
    *zoom: 1
}

.grid:after,
.grid--rev:after,
.grid--full:after,
.grid-uniform:after {
    content: '';
    display: table;
    clear: both
}

.grid__item.clear {
    clear: both
}

.grid,
.grid--rev,
.grid--full,
.grid-uniform {
    list-style: none;
    margin: 0;
    padding: 0
}

.grid__item {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 20px;
    vertical-align: top;
    width: 100%
}

.grid--rev {
    direction: rtl;
    text-align: left
}

.grid--rev>.grid__item {
    direction: ltr;
    text-align: left;
    float: right
}

.grid--full {
    margin-left: 0
}

.grid--full>.grid__item {
    padding-left: 0
}

.one-whole {
    width: 100%
}

.one-half {
    width: 50%
}

.one-third {
    width: 33.333%
}

.two-thirds {
    width: 66.666%
}

.one-quarter {
    width: 25%
}

.two-quarters {
    width: 50%
}

.three-quarters {
    width: 75%
}

.one-fifth {
    width: 20%
}

.two-fifths {
    width: 40%
}

.three-fifths {
    width: 60%
}

.four-fifths {
    width: 80%
}

.one-sixth {
    width: 16.666%
}

.two-sixths {
    width: 33.333%
}

.three-sixths {
    width: 50%
}

.four-sixths {
    width: 66.666%
}

.five-sixths {
    width: 83.333%
}

.one-eighth {
    width: 12.5%
}

.two-eighths {
    width: 25%
}

.three-eighths {
    width: 37.5%
}

.four-eighths {
    width: 50%
}

.five-eighths {
    width: 62.5%
}

.six-eighths {
    width: 75%
}

.seven-eighths {
    width: 87.5%
}

.one-tenth {
    width: 10%
}

.two-tenths {
    width: 20%
}

.three-tenths {
    width: 30%
}

.four-tenths {
    width: 40%
}

.five-tenths {
    width: 50%
}

.six-tenths {
    width: 60%
}

.seven-tenths {
    width: 70%
}

.eight-tenths {
    width: 80%
}

.nine-tenths {
    width: 90%
}

.one-twelfth {
    width: 8.333%
}

.two-twelfths {
    width: 16.666%
}

.three-twelfths {
    width: 25%
}

.four-twelfths {
    width: 33.333%
}

.five-twelfths {
    width: 41.666%
}

.six-twelfths {
    width: 50%
}

.seven-twelfths {
    width: 58.333%
}

.eight-twelfths {
    width: 66.666%
}

.nine-twelfths {
    width: 75%
}

.ten-twelfths {
    width: 83.333%
}

.eleven-twelfths {
    width: 91.666%
}

.show {
    display: block !important
}

.hide {
    display: none !important
}

.text-left {
    text-align: left !important
}

.text-right {
    text-align: right !important
}

.text-center {
    text-align: center !important
}

.left {
    float: left !important
}

.right {
    float: right !important
}

@media only screen and (max-width: 480px) {
    .small--one-whole {
        width: 100%
    }
    .small--one-half {
        width: 50%
    }
    .small--one-third {
        width: 33.333%
    }
    .small--two-thirds {
        width: 66.666%
    }
    .small--one-quarter {
        width: 25%
    }
    .small--two-quarters {
        width: 50%
    }
    .small--three-quarters {
        width: 75%
    }
    .small--one-fifth {
        width: 20%
    }
    .small--two-fifths {
        width: 40%
    }
    .small--three-fifths {
        width: 60%
    }
    .small--four-fifths {
        width: 80%
    }
    .small--one-sixth {
        width: 16.666%
    }
    .small--two-sixths {
        width: 33.333%
    }
    .small--three-sixths {
        width: 50%
    }
    .small--four-sixths {
        width: 66.666%
    }
    .small--five-sixths {
        width: 83.333%
    }
    .small--one-eighth {
        width: 12.5%
    }
    .small--two-eighths {
        width: 25%
    }
    .small--three-eighths {
        width: 37.5%
    }
    .small--four-eighths {
        width: 50%
    }
    .small--five-eighths {
        width: 62.5%
    }
    .small--six-eighths {
        width: 75%
    }
    .small--seven-eighths {
        width: 87.5%
    }
    .small--one-tenth {
        width: 10%
    }
    .small--two-tenths {
        width: 20%
    }
    .small--three-tenths {
        width: 30%
    }
    .small--four-tenths {
        width: 40%
    }
    .small--five-tenths {
        width: 50%
    }
    .small--six-tenths {
        width: 60%
    }
    .small--seven-tenths {
        width: 70%
    }
    .small--eight-tenths {
        width: 80%
    }
    .small--nine-tenths {
        width: 90%
    }
    .small--one-twelfth {
        width: 8.333%
    }
    .small--two-twelfths {
        width: 16.666%
    }
    .small--three-twelfths {
        width: 25%
    }
    .small--four-twelfths {
        width: 33.333%
    }
    .small--five-twelfths {
        width: 41.666%
    }
    .small--six-twelfths {
        width: 50%
    }
    .small--seven-twelfths {
        width: 58.333%
    }
    .small--eight-twelfths {
        width: 66.666%
    }
    .small--nine-twelfths {
        width: 75%
    }
    .small--ten-twelfths {
        width: 83.333%
    }
    .small--eleven-twelfths {
        width: 91.666%
    }
    .small--show {
        display: block !important
    }
    .small--hide {
        display: none !important
    }
    .small--text-left {
        text-align: left !important
    }
    .small--text-right {
        text-align: right !important
    }
    .small--text-center {
        text-align: center !important
    }
    .small--left {
        float: left !important
    }
    .small--right {
        float: right !important
    }
    .grid-uniform .small--one-half:nth-child(2n+1),
    .grid-uniform .small--one-third:nth-child(3n+1),
    .grid-uniform .small--one-quarter:nth-child(4n+1),
    .grid-uniform .small--one-fifth:nth-child(5n+1),
    .grid-uniform .small--one-sixth:nth-child(6n+1),
    .grid-uniform .small--two-sixths:nth-child(3n+1),
    .grid-uniform .small--three-sixths:nth-child(2n+1),
    .grid-uniform .small--two-eighths:nth-child(4n+1),
    .grid-uniform .small--four-eighths:nth-child(2n+1),
    .grid-uniform .small--five-tenths:nth-child(2n+1),
    .grid-uniform .small--one-twelfth:nth-child(12n+1),
    .grid-uniform .small--two-twelfths:nth-child(6n+1),
    .grid-uniform .small--three-twelfths:nth-child(4n+1),
    .grid-uniform .small--four-twelfths:nth-child(3n+1),
    .grid-uniform .small--six-twelfths:nth-child(2n+1) {
        clear: both
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .medium--one-whole {
        width: 100%
    }
    .medium--one-half {
        width: 50%
    }
    .medium--one-third {
        width: 33.333%
    }
    .medium--two-thirds {
        width: 66.666%
    }
    .medium--one-quarter {
        width: 25%
    }
    .medium--two-quarters {
        width: 50%
    }
    .medium--three-quarters {
        width: 75%
    }
    .medium--one-fifth {
        width: 20%
    }
    .medium--two-fifths {
        width: 40%
    }
    .medium--three-fifths {
        width: 60%
    }
    .medium--four-fifths {
        width: 80%
    }
    .medium--one-sixth {
        width: 16.666%
    }
    .medium--two-sixths {
        width: 33.333%
    }
    .medium--three-sixths {
        width: 50%
    }
    .medium--four-sixths {
        width: 66.666%
    }
    .medium--five-sixths {
        width: 83.333%
    }
    .medium--one-eighth {
        width: 12.5%
    }
    .medium--two-eighths {
        width: 25%
    }
    .medium--three-eighths {
        width: 37.5%
    }
    .medium--four-eighths {
        width: 50%
    }
    .medium--five-eighths {
        width: 62.5%
    }
    .medium--six-eighths {
        width: 75%
    }
    .medium--seven-eighths {
        width: 87.5%
    }
    .medium--one-tenth {
        width: 10%
    }
    .medium--two-tenths {
        width: 20%
    }
    .medium--three-tenths {
        width: 30%
    }
    .medium--four-tenths {
        width: 40%
    }
    .medium--five-tenths {
        width: 50%
    }
    .medium--six-tenths {
        width: 60%
    }
    .medium--seven-tenths {
        width: 70%
    }
    .medium--eight-tenths {
        width: 80%
    }
    .medium--nine-tenths {
        width: 90%
    }
    .medium--one-twelfth {
        width: 8.333%
    }
    .medium--two-twelfths {
        width: 16.666%
    }
    .medium--three-twelfths {
        width: 25%
    }
    .medium--four-twelfths {
        width: 33.333%
    }
    .medium--five-twelfths {
        width: 41.666%
    }
    .medium--six-twelfths {
        width: 50%
    }
    .medium--seven-twelfths {
        width: 58.333%
    }
    .medium--eight-twelfths {
        width: 66.666%
    }
    .medium--nine-twelfths {
        width: 75%
    }
    .medium--ten-twelfths {
        width: 83.333%
    }
    .medium--eleven-twelfths {
        width: 91.666%
    }
    .medium--show {
        display: block !important
    }
    .medium--hide {
        display: none !important
    }
    .medium--text-left {
        text-align: left !important
    }
    .medium--text-right {
        text-align: right !important
    }
    .medium--text-center {
        text-align: center !important
    }
    .medium--left {
        float: left !important
    }
    .medium--right {
        float: right !important
    }
    .grid-uniform .medium--one-half:nth-child(2n+1),
    .grid-uniform .medium--one-third:nth-child(3n+1),
    .grid-uniform .medium--one-quarter:nth-child(4n+1),
    .grid-uniform .medium--one-fifth:nth-child(5n+1),
    .grid-uniform .medium--one-sixth:nth-child(6n+1),
    .grid-uniform .medium--two-sixths:nth-child(3n+1),
    .grid-uniform .medium--three-sixths:nth-child(2n+1),
    .grid-uniform .medium--two-eighths:nth-child(4n+1),
    .grid-uniform .medium--four-eighths:nth-child(2n+1),
    .grid-uniform .medium--five-tenths:nth-child(2n+1),
    .grid-uniform .medium--one-twelfth:nth-child(12n+1),
    .grid-uniform .medium--two-twelfths:nth-child(6n+1),
    .grid-uniform .medium--three-twelfths:nth-child(4n+1),
    .grid-uniform .medium--four-twelfths:nth-child(3n+1),
    .grid-uniform .medium--six-twelfths:nth-child(2n+1) {
        clear: both
    }
}

@media only screen and (max-width: 768px) {
    .medium-down--one-whole {
        width: 100%
    }
    .medium-down--one-half {
        width: 50%
    }
    .medium-down--one-third {
        width: 33.333%
    }
    .medium-down--two-thirds {
        width: 66.666%
    }
    .medium-down--one-quarter {
        width: 25%
    }
    .medium-down--two-quarters {
        width: 50%
    }
    .medium-down--three-quarters {
        width: 75%
    }
    .medium-down--one-fifth {
        width: 20%
    }
    .medium-down--two-fifths {
        width: 40%
    }
    .medium-down--three-fifths {
        width: 60%
    }
    .medium-down--four-fifths {
        width: 80%
    }
    .medium-down--one-sixth {
        width: 16.666%
    }
    .medium-down--two-sixths {
        width: 33.333%
    }
    .medium-down--three-sixths {
        width: 50%
    }
    .medium-down--four-sixths {
        width: 66.666%
    }
    .medium-down--five-sixths {
        width: 83.333%
    }
    .medium-down--one-eighth {
        width: 12.5%
    }
    .medium-down--two-eighths {
        width: 25%
    }
    .medium-down--three-eighths {
        width: 37.5%
    }
    .medium-down--four-eighths {
        width: 50%
    }
    .medium-down--five-eighths {
        width: 62.5%
    }
    .medium-down--six-eighths {
        width: 75%
    }
    .medium-down--seven-eighths {
        width: 87.5%
    }
    .medium-down--one-tenth {
        width: 10%
    }
    .medium-down--two-tenths {
        width: 20%
    }
    .medium-down--three-tenths {
        width: 30%
    }
    .medium-down--four-tenths {
        width: 40%
    }
    .medium-down--five-tenths {
        width: 50%
    }
    .medium-down--six-tenths {
        width: 60%
    }
    .medium-down--seven-tenths {
        width: 70%
    }
    .medium-down--eight-tenths {
        width: 80%
    }
    .medium-down--nine-tenths {
        width: 90%
    }
    .medium-down--one-twelfth {
        width: 8.333%
    }
    .medium-down--two-twelfths {
        width: 16.666%
    }
    .medium-down--three-twelfths {
        width: 25%
    }
    .medium-down--four-twelfths {
        width: 33.333%
    }
    .medium-down--five-twelfths {
        width: 41.666%
    }
    .medium-down--six-twelfths {
        width: 50%
    }
    .medium-down--seven-twelfths {
        width: 58.333%
    }
    .medium-down--eight-twelfths {
        width: 66.666%
    }
    .medium-down--nine-twelfths {
        width: 75%
    }
    .medium-down--ten-twelfths {
        width: 83.333%
    }
    .medium-down--eleven-twelfths {
        width: 91.666%
    }
    .medium-down--show {
        display: block !important
    }
    .medium-down--hide {
        display: none !important
    }
    .medium-down--text-left {
        text-align: left !important
    }
    .medium-down--text-right {
        text-align: right !important
    }
    .medium-down--text-center {
        text-align: center !important
    }
    .medium-down--left {
        float: left !important
    }
    .medium-down--right {
        float: right !important
    }
    .grid-uniform .medium-down--one-half:nth-child(2n+1),
    .grid-uniform .medium-down--one-third:nth-child(3n+1),
    .grid-uniform .medium-down--one-quarter:nth-child(4n+1),
    .grid-uniform .medium-down--one-fifth:nth-child(5n+1),
    .grid-uniform .medium-down--one-sixth:nth-child(6n+1),
    .grid-uniform .medium-down--two-sixths:nth-child(3n+1),
    .grid-uniform .medium-down--three-sixths:nth-child(2n+1),
    .grid-uniform .medium-down--two-eighths:nth-child(4n+1),
    .grid-uniform .medium-down--four-eighths:nth-child(2n+1),
    .grid-uniform .medium-down--five-tenths:nth-child(2n+1),
    .grid-uniform .medium-down--one-twelfth:nth-child(12n+1),
    .grid-uniform .medium-down--two-twelfths:nth-child(6n+1),
    .grid-uniform .medium-down--three-twelfths:nth-child(4n+1),
    .grid-uniform .medium-down--four-twelfths:nth-child(3n+1),
    .grid-uniform .medium-down--six-twelfths:nth-child(2n+1) {
        clear: both
    }
}

@media only screen and (min-width: 769px) {
    .large--one-whole {
        width: 100%
    }
    .large--one-half {
        width: 50%
    }
    .large--one-third {
        width: 33.333%
    }
    .large--two-thirds {
        width: 66.666%
    }
    .large--one-quarter {
        width: 25%
    }
    .large--two-quarters {
        width: 50%
    }
    .large--three-quarters {
        width: 75%
    }
    .large--one-fifth {
        width: 20%
    }
    .large--two-fifths {
        width: 40%
    }
    .large--three-fifths {
        width: 60%
    }
    .large--four-fifths {
        width: 80%
    }
    .large--one-sixth {
        width: 16.666%
    }
    .large--two-sixths {
        width: 33.333%
    }
    .large--three-sixths {
        width: 50%
    }
    .large--four-sixths {
        width: 66.666%
    }
    .large--five-sixths {
        width: 83.333%
    }
    .large--one-eighth {
        width: 12.5%
    }
    .large--two-eighths {
        width: 25%
    }
    .large--three-eighths {
        width: 37.5%
    }
    .large--four-eighths {
        width: 50%
    }
    .large--five-eighths {
        width: 62.5%
    }
    .large--six-eighths {
        width: 75%
    }
    .large--seven-eighths {
        width: 87.5%
    }
    .large--one-tenth {
        width: 10%
    }
    .large--two-tenths {
        width: 20%
    }
    .large--three-tenths {
        width: 30%
    }
    .large--four-tenths {
        width: 40%
    }
    .large--five-tenths {
        width: 50%
    }
    .large--six-tenths {
        width: 60%
    }
    .large--seven-tenths {
        width: 70%
    }
    .large--eight-tenths {
        width: 80%
    }
    .large--nine-tenths {
        width: 90%
    }
    .large--one-twelfth {
        width: 8.333%
    }
    .large--two-twelfths {
        width: 16.666%
    }
    .large--three-twelfths {
        width: 25%
    }
    .large--four-twelfths {
        width: 33.333%
    }
    .large--five-twelfths {
        width: 41.666%
    }
    .large--six-twelfths {
        width: 50%
    }
    .large--seven-twelfths {
        width: 58.333%
    }
    .large--eight-twelfths {
        width: 66.666%
    }
    .large--nine-twelfths {
        width: 75%
    }
    .large--ten-twelfths {
        width: 83.333%
    }
    .large--eleven-twelfths {
        width: 91.666%
    }
    .large--show {
        display: block !important
    }
    .large--hide {
        display: none !important
    }
    .large--text-left {
        text-align: left !important
    }
    .large--text-right {
        text-align: right !important
    }
    .large--text-center {
        text-align: center !important
    }
    .large--left {
        float: left !important
    }
    .large--right {
        float: right !important
    }
    .grid-uniform .large--one-half:nth-child(2n+1),
    .grid-uniform .large--one-third:nth-child(3n+1),
    .grid-uniform .large--one-quarter:nth-child(4n+1),
    .grid-uniform .large--one-fifth:nth-child(5n+1),
    .grid-uniform .large--one-sixth:nth-child(6n+1),
    .grid-uniform .large--two-sixths:nth-child(3n+1),
    .grid-uniform .large--three-sixths:nth-child(2n+1),
    .grid-uniform .large--two-eighths:nth-child(4n+1),
    .grid-uniform .large--four-eighths:nth-child(2n+1),
    .grid-uniform .large--five-tenths:nth-child(2n+1),
    .grid-uniform .large--one-twelfth:nth-child(12n+1),
    .grid-uniform .large--two-twelfths:nth-child(6n+1),
    .grid-uniform .large--three-twelfths:nth-child(4n+1),
    .grid-uniform .large--four-twelfths:nth-child(3n+1),
    .grid-uniform .large--six-twelfths:nth-child(2n+1) {
        clear: both
    }
}

[class*="push--"] {
    position: relative
}

.push--one-whole {
    left: 100%
}

.push--one-half {
    left: 50%
}

.push--one-third {
    left: 33.333%
}

.push--two-thirds {
    left: 66.666%
}

.push--one-quarter {
    left: 25%
}

.push--two-quarters {
    left: 50%
}

.push--three-quarters {
    left: 75%
}

.push--one-fifth {
    left: 20%
}

.push--two-fifths {
    left: 40%
}

.push--three-fifths {
    left: 60%
}

.push--four-fifths {
    left: 80%
}

.push--one-sixth {
    left: 16.666%
}

.push--two-sixths {
    left: 33.333%
}

.push--three-sixths {
    left: 50%
}

.push--four-sixths {
    left: 66.666%
}

.push--five-sixths {
    left: 83.333%
}

.push--one-eighth {
    left: 12.5%
}

.push--two-eighths {
    left: 25%
}

.push--three-eighths {
    left: 37.5%
}

.push--four-eighths {
    left: 50%
}

.push--five-eighths {
    left: 62.5%
}

.push--six-eighths {
    left: 75%
}

.push--seven-eighths {
    left: 87.5%
}

.push--one-tenth {
    left: 10%
}

.push--two-tenths {
    left: 20%
}

.push--three-tenths {
    left: 30%
}

.push--four-tenths {
    left: 40%
}

.push--five-tenths {
    left: 50%
}

.push--six-tenths {
    left: 60%
}

.push--seven-tenths {
    left: 70%
}

.push--eight-tenths {
    left: 80%
}

.push--nine-tenths {
    left: 90%
}

.push--one-twelfth {
    left: 8.333%
}

.push--two-twelfths {
    left: 16.666%
}

.push--three-twelfths {
    left: 25%
}

.push--four-twelfths {
    left: 33.333%
}

.push--five-twelfths {
    left: 41.666%
}

.push--six-twelfths {
    left: 50%
}

.push--seven-twelfths {
    left: 58.333%
}

.push--eight-twelfths {
    left: 66.666%
}

.push--nine-twelfths {
    left: 75%
}

.push--ten-twelfths {
    left: 83.333%
}

.push--eleven-twelfths {
    left: 91.666%
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .push--medium--one-whole {
        left: 100%
    }
    .push--medium--one-half {
        left: 50%
    }
    .push--medium--one-third {
        left: 33.333%
    }
    .push--medium--two-thirds {
        left: 66.666%
    }
    .push--medium--one-quarter {
        left: 25%
    }
    .push--medium--two-quarters {
        left: 50%
    }
    .push--medium--three-quarters {
        left: 75%
    }
    .push--medium--one-fifth {
        left: 20%
    }
    .push--medium--two-fifths {
        left: 40%
    }
    .push--medium--three-fifths {
        left: 60%
    }
    .push--medium--four-fifths {
        left: 80%
    }
    .push--medium--one-sixth {
        left: 16.666%
    }
    .push--medium--two-sixths {
        left: 33.333%
    }
    .push--medium--three-sixths {
        left: 50%
    }
    .push--medium--four-sixths {
        left: 66.666%
    }
    .push--medium--five-sixths {
        left: 83.333%
    }
    .push--medium--one-eighth {
        left: 12.5%
    }
    .push--medium--two-eighths {
        left: 25%
    }
    .push--medium--three-eighths {
        left: 37.5%
    }
    .push--medium--four-eighths {
        left: 50%
    }
    .push--medium--five-eighths {
        left: 62.5%
    }
    .push--medium--six-eighths {
        left: 75%
    }
    .push--medium--seven-eighths {
        left: 87.5%
    }
    .push--medium--one-tenth {
        left: 10%
    }
    .push--medium--two-tenths {
        left: 20%
    }
    .push--medium--three-tenths {
        left: 30%
    }
    .push--medium--four-tenths {
        left: 40%
    }
    .push--medium--five-tenths {
        left: 50%
    }
    .push--medium--six-tenths {
        left: 60%
    }
    .push--medium--seven-tenths {
        left: 70%
    }
    .push--medium--eight-tenths {
        left: 80%
    }
    .push--medium--nine-tenths {
        left: 90%
    }
    .push--medium--one-twelfth {
        left: 8.333%
    }
    .push--medium--two-twelfths {
        left: 16.666%
    }
    .push--medium--three-twelfths {
        left: 25%
    }
    .push--medium--four-twelfths {
        left: 33.333%
    }
    .push--medium--five-twelfths {
        left: 41.666%
    }
    .push--medium--six-twelfths {
        left: 50%
    }
    .push--medium--seven-twelfths {
        left: 58.333%
    }
    .push--medium--eight-twelfths {
        left: 66.666%
    }
    .push--medium--nine-twelfths {
        left: 75%
    }
    .push--medium--ten-twelfths {
        left: 83.333%
    }
    .push--medium--eleven-twelfths {
        left: 91.666%
    }
}

@media only screen and (max-width: 768px) {
    .push--medium-down--one-whole {
        left: 100%
    }
    .push--medium-down--one-half {
        left: 50%
    }
    .push--medium-down--one-third {
        left: 33.333%
    }
    .push--medium-down--two-thirds {
        left: 66.666%
    }
    .push--medium-down--one-quarter {
        left: 25%
    }
    .push--medium-down--two-quarters {
        left: 50%
    }
    .push--medium-down--three-quarters {
        left: 75%
    }
    .push--medium-down--one-fifth {
        left: 20%
    }
    .push--medium-down--two-fifths {
        left: 40%
    }
    .push--medium-down--three-fifths {
        left: 60%
    }
    .push--medium-down--four-fifths {
        left: 80%
    }
    .push--medium-down--one-sixth {
        left: 16.666%
    }
    .push--medium-down--two-sixths {
        left: 33.333%
    }
    .push--medium-down--three-sixths {
        left: 50%
    }
    .push--medium-down--four-sixths {
        left: 66.666%
    }
    .push--medium-down--five-sixths {
        left: 83.333%
    }
    .push--medium-down--one-eighth {
        left: 12.5%
    }
    .push--medium-down--two-eighths {
        left: 25%
    }
    .push--medium-down--three-eighths {
        left: 37.5%
    }
    .push--medium-down--four-eighths {
        left: 50%
    }
    .push--medium-down--five-eighths {
        left: 62.5%
    }
    .push--medium-down--six-eighths {
        left: 75%
    }
    .push--medium-down--seven-eighths {
        left: 87.5%
    }
    .push--medium-down--one-tenth {
        left: 10%
    }
    .push--medium-down--two-tenths {
        left: 20%
    }
    .push--medium-down--three-tenths {
        left: 30%
    }
    .push--medium-down--four-tenths {
        left: 40%
    }
    .push--medium-down--five-tenths {
        left: 50%
    }
    .push--medium-down--six-tenths {
        left: 60%
    }
    .push--medium-down--seven-tenths {
        left: 70%
    }
    .push--medium-down--eight-tenths {
        left: 80%
    }
    .push--medium-down--nine-tenths {
        left: 90%
    }
    .push--medium-down--one-twelfth {
        left: 8.333%
    }
    .push--medium-down--two-twelfths {
        left: 16.666%
    }
    .push--medium-down--three-twelfths {
        left: 25%
    }
    .push--medium-down--four-twelfths {
        left: 33.333%
    }
    .push--medium-down--five-twelfths {
        left: 41.666%
    }
    .push--medium-down--six-twelfths {
        left: 50%
    }
    .push--medium-down--seven-twelfths {
        left: 58.333%
    }
    .push--medium-down--eight-twelfths {
        left: 66.666%
    }
    .push--medium-down--nine-twelfths {
        left: 75%
    }
    .push--medium-down--ten-twelfths {
        left: 83.333%
    }
    .push--medium-down--eleven-twelfths {
        left: 91.666%
    }
}

@media only screen and (min-width: 769px) {
    .push--large--one-whole {
        left: 100%
    }
    .push--large--one-half {
        left: 50%
    }
    .push--large--one-third {
        left: 33.333%
    }
    .push--large--two-thirds {
        left: 66.666%
    }
    .push--large--one-quarter {
        left: 25%
    }
    .push--large--two-quarters {
        left: 50%
    }
    .push--large--three-quarters {
        left: 75%
    }
    .push--large--one-fifth {
        left: 20%
    }
    .push--large--two-fifths {
        left: 40%
    }
    .push--large--three-fifths {
        left: 60%
    }
    .push--large--four-fifths {
        left: 80%
    }
    .push--large--one-sixth {
        left: 16.666%
    }
    .push--large--two-sixths {
        left: 33.333%
    }
    .push--large--three-sixths {
        left: 50%
    }
    .push--large--four-sixths {
        left: 66.666%
    }
    .push--large--five-sixths {
        left: 83.333%
    }
    .push--large--one-eighth {
        left: 12.5%
    }
    .push--large--two-eighths {
        left: 25%
    }
    .push--large--three-eighths {
        left: 37.5%
    }
    .push--large--four-eighths {
        left: 50%
    }
    .push--large--five-eighths {
        left: 62.5%
    }
    .push--large--six-eighths {
        left: 75%
    }
    .push--large--seven-eighths {
        left: 87.5%
    }
    .push--large--one-tenth {
        left: 10%
    }
    .push--large--two-tenths {
        left: 20%
    }
    .push--large--three-tenths {
        left: 30%
    }
    .push--large--four-tenths {
        left: 40%
    }
    .push--large--five-tenths {
        left: 50%
    }
    .push--large--six-tenths {
        left: 60%
    }
    .push--large--seven-tenths {
        left: 70%
    }
    .push--large--eight-tenths {
        left: 80%
    }
    .push--large--nine-tenths {
        left: 90%
    }
    .push--large--one-twelfth {
        left: 8.333%
    }
    .push--large--two-twelfths {
        left: 16.666%
    }
    .push--large--three-twelfths {
        left: 25%
    }
    .push--large--four-twelfths {
        left: 33.333%
    }
    .push--large--five-twelfths {
        left: 41.666%
    }
    .push--large--six-twelfths {
        left: 50%
    }
    .push--large--seven-twelfths {
        left: 58.333%
    }
    .push--large--eight-twelfths {
        left: 66.666%
    }
    .push--large--nine-twelfths {
        left: 75%
    }
    .push--large--ten-twelfths {
        left: 83.333%
    }
    .push--large--eleven-twelfths {
        left: 91.666%
    }
}

html {
    background-color: #fff
}

body {
    background-color: #fff
}

[tabindex='-1']:focus {
    outline: none
}

.wrapper {
    *zoom: 1;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px
}

.wrapper:after {
    content: '';
    display: table;
    clear: both
}

@media screen and (min-width: 480px) {
    .wrapper {
        padding: 0 20px
    }
}

.main-content {
    display: block;
    margin-top: 20px
}

.template-index .main-content {
    margin-top: 0
}

.is-transitioning {
    display: block !important;
    visibility: visible !important
}

.display-table {
    display: table;
    table-layout: fixed;
    width: 100%
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
    float: none
}

@media screen and (min-width: 769px) {
    .large--display-table {
        display: table;
        table-layout: fixed;
        width: 100%
    }
    .large--display-table-cell {
        display: table-cell;
        vertical-align: middle;
        float: none
    }
}

.visually-hidden,
.supports-fontface .icon-fallback-text .fallback-text {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0
}

body,
input,
textarea,
button,
select {
    font-size: 14px;
    line-height: 1.6;
    font-family: Poppins, sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

h1,
.h1,
h2,
.h2,
.tab-products .nav-tabs,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    display: block;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    margin: 0 0 0.5em;
    line-height: 1.4;
    text-transform: capitalize
}

h1 a,
.h1 a,
h2 a,
.h2 a,
.tab-products .nav-tabs a,
h3 a,
.h3 a,
h4 a,
.h4 a,
h5 a,
.h5 a,
h6 a,
.h6 a {
    text-decoration: none;
    font-weight: inherit
}

h1,
.h1 {
    font-size: 1.71429em
}

h2,
.h2,
.tab-products .nav-tabs {
    font-size: 1.57143em
}

h3,
.h3 {
    font-size: 1.42857em
}

h4,
.h4 {
    font-size: 1.28571em
}

h5,
.h5 {
    font-size: 1.14286em
}

h6,
.h6 {
    font-size: 1em
}

p {
    margin: 0 0 10px 0
}

p img {
    margin: 0
}

em {
    font-style: italic
}

b,
strong {
    font-weight: bold
}

small {
    font-size: 0.9em
}

sup,
sub {
    position: relative;
    font-size: 60%;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.5em
}

blockquote {
    font-size: 1.125em;
    line-height: 1.45;
    font-style: italic;
    margin: 0 0 20px;
    padding: 10px 20px;
    border-left: 1px solid #e5e5e5
}

blockquote p {
    margin-bottom: 0
}

blockquote p+cite {
    margin-top: 10px
}

blockquote cite {
    display: block;
    font-size: 0.75em
}

blockquote cite:before {
    content: '\2014 \0020'
}

code,
pre {
    background-color: #faf7f5;
    font-family: Consolas, monospace;
    font-size: 1em;
    border: 0 none;
    padding: 0 2px;
    color: #51ab62
}

pre {
    overflow: auto;
    padding: 10px;
    margin: 0 0 20px
}

hr {
    clear: both;
    border-top: solid #e5e5e5;
    border-width: 1px 0 0;
    margin: 20px 0;
    height: 0
}

hr.hr--small {
    margin: 10px 0
}

hr.hr--clear {
    border-top-color: transparent
}

h1,
.h1,
h2,
.h2,
.tab-products .nav-tabs,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.section-header {
    margin-bottom: 13.33333px;
    color: #000000
}

@media screen and (min-width: 769px) {
    .section-header {
        display: table;
        width: 100%
    }
    .section-header__title {
        margin-bottom: 8px
    }
    .section-header__left {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0
    }
    .section-header__right {
        display: table-cell;
        vertical-align: middle;
        text-align: right;
        width: 335px
    }
}

@media screen and (min-width: 769px) and (max-width: 768px) {
    .section-header__right {
        margin-bottom: 20px
    }
}

.section-header__right .form-horizontal,
.section-header__right .collection-view {
    display: inline-block;
    vertical-align: middle
}

@media screen and (min-width: 481px) {
    .section-header__right label+select {
        margin-left: 10px
    }
}

.collection-view {
    display: inline-block;
    overflow: hidden
}

.collection-view button {
    border-right: 1px solid #e5e5e5;
    height: 42px;
    width: 42px
}

@media screen and (min-width: 769px) {
    .collection-view {
        display: inline-block
    }
}

.rte {
    margin-bottom: 10px;
    margin-top: 10px
}

.rte a {
    text-decoration: underline
}

.rte h1,
.rte .h1,
.rte h2,
.rte .h2,
.rte .tab-products .nav-tabs,
.tab-products .rte .nav-tabs,
.rte h3,
.rte .h3,
.rte h4,
.rte .h4,
.rte h5,
.rte .h5,
.rte h6,
.rte .h6 {
    margin-top: 2em
}

.rte h1:first-child,
.rte .h1:first-child,
.rte h2:first-child,
.rte .h2:first-child,
.rte .tab-products .nav-tabs:first-child,
.tab-products .rte .nav-tabs:first-child,
.rte h3:first-child,
.rte .h3:first-child,
.rte h4:first-child,
.rte .h4:first-child,
.rte h5:first-child,
.rte .h5:first-child,
.rte h6:first-child,
.rte .h6:first-child {
    margin-top: 0
}

.rte h1 a,
.rte .h1 a,
.rte h2 a,
.rte .h2 a,
.rte .tab-products .nav-tabs a,
.tab-products .rte .nav-tabs a,
.rte h3 a,
.rte .h3 a,
.rte h4 a,
.rte .h4 a,
.rte h5 a,
.rte .h5 a,
.rte h6 a,
.rte .h6 a {
    text-decoration: none
}

.rte>div {
    margin-bottom: 10px
}

.rte li {
    margin-bottom: 0.4em
}

.rte--header {
    margin-bottom: 0
}

a,
.text-link {
    color: #666;
    text-decoration: none;
    background: transparent
}

a:hover,
a:focus {
    color: #000;
    outline: none
}

button {
    overflow: visible
}

button[disabled],
html input[disabled] {
    cursor: default
}

.text-link {
    display: inline;
    border: 0 none;
    background: none;
    padding: 0;
    margin: 0
}

ul.square {
    list-style: square outside
}

ul.disc {
    list-style: disc outside
}

ol.alpha {
    list-style: lower-alpha outside
}

.no-bullets {
    list-style: none outside;
    margin-left: 0
}

.inline-list {
    margin-left: 0
}

.inline-list li {
    display: inline-block;
    margin-bottom: 0
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

table.full {
    width: 100%;
    margin-bottom: 1em
}

.table-wrap {
    max-width: 100%;
    -webkit-overflow-scrolling: touch
}

th {
    font-weight: bold
}

th,
td {
    text-align: left;
    padding: 10px
}

@media screen and (max-width: 480px) {
    .table--responsive thead {
        display: none
    }
    .table--responsive tr {
        display: block
    }
    .table--responsive tr,
    .table--responsive td {
        float: left;
        clear: both;
        width: 100%
    }
    .table--responsive th,
    .table--responsive td {
        display: block;
        text-align: right;
        padding: 15px
    }
    .table--responsive td:before {
        content: attr(data-label);
        float: left;
        text-align: center;
        font-size: 12px;
        padding-right: 10px
    }
    .table--responsive.cart-table img {
        margin: 0 auto
    }
    .table--responsive.cart-table .js-qty,
    .table--responsive.cart-table .ajaxcart__qty {
        float: right
    }
}

@media screen and (max-width: 480px) {
    .table--small-hide {
        display: none !important
    }
    .table__section+.table__section {
        position: relative;
        margin-top: 10px;
        padding-top: 15px
    }
    .table__section+.table__section:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 15px;
        right: 15px;
        border-bottom: 1px solid #e5e5e5
    }
}

.media,
.media-flex {
    overflow: hidden;
    _overflow: visible;
    zoom: 1
}

.media-img {
    float: left;
    margin-right: 20px
}

.media-img-right {
    float: right;
    margin-left: 20px
}

.media-img img,
.media-img-right img {
    display: block
}

img {
    border: 0 none
}

svg:not(:root) {
    overflow: hidden
}

img,
iframe {
    max-width: 100%
}

.video-wrapper {
    overflow: hidden;
    max-width: 100%;
    height: 0;
    height: auto
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.tab-pane .video-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    height: auto
}

.tab-pane .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

form {
    margin-bottom: 0
}

.form-vertical {
    margin-bottom: 10px
}

@media screen and (max-width: 768px) {
    input,
    textarea {
        font-size: 16px
    }
}

input,
textarea,
button,
select {
    padding: 0;
    margin: 0;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text
}

button {
    background: none;
    border: none;
    cursor: pointer
}

button,
input,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none
}

button {
    background: none;
    border: none;
    display: inline-block;
    cursor: pointer;
    outline: none
}

input[type="image"] {
    padding-left: 0;
    padding-right: 0
}

fieldset {
    border: 1px solid #e5e5e5;
    padding: 10px
}

legend {
    border: 0;
    padding: 0
}

button,
input[type="submit"] {
    cursor: pointer
}

input,
textarea,
select {
    border: 1px solid #e5e5e5;
    max-width: 100%;
    padding: 8px 10px;
    border-radius: 0px
}

input:focus,
textarea:focus,
select:focus {
    border: 1px solid #ccc
}

input[disabled],
input.disabled,
textarea[disabled],
textarea.disabled,
select[disabled],
select.disabled {
    cursor: default;
    background-color: #f6f6f6;
    border-color: #b6b6b6
}

input.input-full,
textarea.input-full,
select.input-full {
    width: 100%
}

textarea {
    min-height: 100px
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
    width: auto
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox
}

input[type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio
}

input[type="image"] {
    padding-left: 0;
    padding-right: 0
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-position: right center;
    background-image: url("../fonts/ico-select.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: transparent;
    padding-right: 28px;
    text-indent: 0.01px;
    text-overflow: '';
    cursor: pointer
}

.ie9 select,
.lt-ie9 select {
    padding-right: 10px;
    background-image: none
}

optgroup {
    font-weight: bold
}

option {
    color: #000;
    background-color: #fff
}

select::-ms-expand {
    display: none
}

.hidden-label {
    position: absolute;
    height: 0;
    width: 0;
    margin-bottom: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px)
}

.ie9 .hidden-label,
.lt-ie9 .hidden-label {
    position: static;
    height: auto;
    width: auto;
    margin-bottom: 2px;
    overflow: visible;
    clip: initial
}

label[for] {
    cursor: pointer
}

.form-vertical input,
.form-vertical select,
.form-vertical textarea {
    margin-bottom: 10px
}

.form-vertical input[type="radio"],
.form-vertical input[type="checkbox"] {
    display: inline-block
}

input.error,
select.error,
textarea.error {
    border-color: #d02e2e;
    background-color: #fff6f6;
    color: #d02e2e
}

label.error {
    color: #d02e2e
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate
}

.input-group .input-group-field:first-child,
.input-group .input-group-btn:first-child,
.input-group .input-group-btn:first-child>.btn,
.input-group input[type="hidden"]:first-child+.input-group-field,
.input-group input[type="hidden"]:first-child+.input-group-btn>.btn {
    border-radius: 0px 0 0 0px
}

.input-group .input-group-field:last-child,
.input-group .input-group-btn:last-child>.btn {
    border-radius: 0 0px 0px 0
}

.input-group input::-moz-focus-inner {
    border: 0;
    padding: 0;
    margin-top: -1px;
    margin-bottom: -1px
}

.input-group-field,
.input-group-btn {
    display: table-cell;
    vertical-align: middle;
    margin: 0
}

.input-group .btn,
.input-group .input-group-field {
    height: 37px
}

.input-group .input-group-field {
    width: 100%
}

.input-group-btn {
    position: relative;
    white-space: nowrap;
    width: 1%;
    padding: 0
}

.icon-fallback-text .icon {
    display: none
}

.supports-fontface .icon-fallback-text .icon {
    display: inline-block;
    color: #ccc;
    font-size: 8px
}

.supports-fontface .icon-fallback-text .icon.icon-search {
    color: #fff
}

.site-header__topbar .icon-fallback-text .icon.icon-search {
    color: #000
}

.icon:before {
    display: none
}

.supports-fontface .icon:before {
    display: inline;
    font-family: "icons";
    text-decoration: none;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-amazon_payments:before {
    content: "\e800"
}

.icon-american_express:before {
    content: "\41"
}

.icon-arrow-down:before {
    content: "\e607"
}

.icon-bitcoin:before {
    content: "\42"
}

.icon-cart:before {
    content: "\e600"
}

.icon-cirrus:before {
    content: "\43"
}

.icon-dankort:before {
    content: "\64"
}

.icon-diners_club:before {
    content: "\63"
}

.icon-discover:before {
    content: "\44"
}

.icon-facebook:before {
    content: "\66"
}

.icon-fancy:before {
    content: "\46"
}

.icon-google:before {
    content: "\67"
}

.icon-google_wallet:before {
    content: "\47"
}

.icon-grid-view:before {
    content: "\e603"
}

.icon-hamburger:before {
    content: "\e601"
}

.icon-instagram:before {
    content: "\69"
}

.icon-interac:before {
    content: "\49"
}

.icon-jcb:before {
    content: "\4a"
}

.icon-list-view:before {
    content: "\e604"
}

.icon-maestro:before {
    content: "\6d"
}

.icon-master:before {
    content: "\4d"
}

.icon-minus:before {
    content: "\e602"
}

.icon-paypal:before {
    content: "\50"
}

.icon-pinterest:before {
    content: "\70"
}

.icon-plus:before {
    content: "\e605"
}

.icon-rss:before {
    content: "\72"
}

.icon-search:before {
    content: "\73"
}

.icon-stripe:before {
    content: "\53"
}

.icon-tumblr:before {
    content: "\74"
}

.icon-twitter:before {
    content: "\54"
}

.icon-vimeo:before {
    content: "\76"
}

.icon-visa:before {
    content: "\56"
}

.icon-x:before {
    content: "\e606"
}

.icon-youtube:before {
    content: "\79"
}

.payment-icons {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

.payment-icons li {
    margin: 0 5px 5px;
    color: #bbbbbb;
    cursor: default
}

.payment-icons .icon {
    font-size: 30px;
    line-height: 30px
}

.payment-icons .fallback-text {
    text-transform: capitalize
}

.social-icons li {
    margin: 0 10px 10px;
    vertical-align: middle
}

@media screen and (min-width: 481px) {
    .social-icons li {
        margin-left: 0
    }
}

.social-icons li .icon {
    font-size: 30px;
    line-height: 26px
}

.social-icons li a {
    color: #bbbbbb
}

.social-icons li a:hover {
    color: #a2a2a2
}

.pagination {
    margin-bottom: 1em;
    display: block
}

.pagination>span {
    display: inline-block;
    line-height: 1
}

.pagination a {
    display: block
}

.site-header .grid--table {
    display: table;
    table-layout: fixed;
    width: 100%
}

.site-header .grid--table>.grid__item {
    float: none;
    display: table-cell;
    vertical-align: middle
}

.site-header__topbar {
    height: 50px;
    padding: 6px;
    border-bottom: 1px solid #e5e5e5
}

.site-header__topbar .search-bar input[type="search"] {
    height: 50px;
    margin-top: -7px;
    border-top: none;
    border-bottom: none;
    border-color: #e5e5e5;
    background: #fff
}

.site-header__topbar .search-bar button {
    background: none;
    margin-top: -8px
}

@media screen and (min-width: 769px) {
    .site-header__logo {
        text-align: left
    }
}

.site-header__logo a,
.site-header__logo a:hover,
.site-header__logo a:focus {
    text-decoration: none
}

.site-header__logo a {
    display: block
}

.site-header__logo img {
    margin: 0 auto
}

.site-header__logo-link {
    max-width: 450px;
    margin: 0 auto
}

.site-header__cart-toggle {
    display: inline-block;
    line-height: 36px
}

.site-header__search {
    display: inline-block;
    max-width: 250px;
    width: 100%
}

.site-header__search .input-group-btn {
    position: absolute;
    right: 5px;
    top: 0;
    width: 40px;
    height: 37px;
    padding: 8px
}

.site-header__search .icon-search {
    font-size: 12px
}

.search-bar {
    width: 100%
}

@media screen and (max-width: 768px) {
    .search-bar {
        margin-left: auto;
        margin-right: auto
    }
}

.site-header__account {
    position: relative;
    margin-top: 6px
}

.site-header__account a {
    position: relative;
    text-transform: capitalize
}

.site-header__account i {
    width: 18px;
    color: #000
}

.site-header__account>span {
    padding: 6px 15px 20px
}

.site-header__account>span i {
    color: #000
}

.site-header__account ul {
    list-style: none;
    margin: 0;
    visibility: hidden;
    background: #fff;
    width: 200px;
    position: absolute;
    left: 0;
    box-shadow: 0px 3px 9px 0px #ccc;
    z-index: 2;
    top: 37px
}

.site-header__account ul li {
    margin: 0;
    padding: 10px 10px 10px 16px;
    border-bottom: 1px solid #e5e5e5;
    font-style: normal
}

.site-header__account:hover>span {
    box-shadow: 0 0 9px #ccc
}

.site-header__account:hover ul {
    visibility: visible;
    transition: all ease 0.3s
}

#currencies {
    zoom: 1;
    cursor: pointer;
    margin-left: 7px
}

#currencies span {
    display: inline-block;
    zoom: 1;
    padding: 0px 10px;
    margin-top: 7px;
    border-left: 1px solid #e5e5e5;
    float: left
}

#currencies .selected {
    font-weight: normal;
    background: none #eeeeee
}

.nav-bar .medium-down--hide {
    text-align: center;
    background-color: #fff;
    position: relative
}

.site-nav,
.site-nav--mobile {
    font-size: 1em;
    cursor: default;
    margin: 0 0 0 -10px;
    display: block;
    text-align: left
}

.site-nav li,
.site-nav--mobile li {
    margin: 0;
    display: block
}

.site-nav>li,
.site-nav--mobile>li {
    position: relative;
    display: inline-block;
    margin-left: 20px
}

.text-right .site-nav--mobile {
    margin: 0 -10px 0 0
}

.site-nav__link {
    display: block;
    text-decoration: none;
    padding: 0 22px;
    white-space: nowrap;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    position: relative;
    font-size: 16px;
    font-family: Poppins, sans-serif;
    border-bottom: 2px solid transparent;
    font-weight: bold
}

.site-nav--has-dropdown .site-nav__link {
    padding-left: 10px;
    border: none
}

.site-nav__link:hover,
.site-nav__link:active,
.site-nav__link:focus {
    color: #000
}

.site-nav__link .icon-arrow-down {
    position: relative;
    top: 0px;
    font-size: 10px;
    padding-left: 5px
}

.site-nav--active>.site-nav__link {
    color: #000
}

.site-nav--mobile .site-nav__link {
    display: inline-block
}

.site-nav>li>.site-nav__link,
.site-nav--mobile>li>.site-nav__link {
    padding: 0px 20px
}

.site-nav>li:first-child>.site-nav__link,
.site-nav--mobile>li:first-child>.site-nav__link {
    border-left: none
}

.site-nav__dropdown {
    display: none;
    position: absolute;
    left: 0;
    margin: 0;
    z-index: 1000;
    min-width: 200px;
    box-shadow: 0 1px 4px #ccc;
    background-color: #fff;
    -webkit-animation: 0.5s ease 0s normal forwards 1 running animationmenus;
    -o-animation: 0.5s ease 0s normal forwards 1 running animationmenus;
    animation: 0.5s ease 0s normal forwards 1 running animationmenus;
    -webkit-transform-origin: 50% 50% 0;
    -moz-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0
}

.supports-no-touch .site-nav--has-dropdown:hover .site-nav__dropdown,
.site-nav--has-dropdown.nav-hover .site-nav__dropdown,
.nav-focus+.site-nav__dropdown {
    display: block
}

.site-nav__dropdown li>a {
    color: #999;
    display: block;
    text-transform: none;
    padding: 10px 10px 10px 20px !important;
    line-height: 16px;
    text-align: left
}

.site-nav__dropdown li>a:hover,
.site-nav__dropdown li>a:active,
.site-nav__dropdown li>a:focus {
    color: #000
}

.site-nav li.site-nav--has-dropdown>.dropdown:hover>.site-nav__dropdown,
.site-nav--mobile li.site-nav--has-dropdown>.dropdown:hover>.site-nav__dropdown,
.site-nav li.site-nav--has-dropdown>.dropdown.open>.site-nav__dropdown,
.site-nav--mobile li.site-nav--has-dropdown>.dropdown.open>.site-nav__dropdown {
    display: block
}

.megamenu-dropdown {
    position: static !important
}

.megamenu-dropdown .site-nav__dropdown {
    width: 100%;
    padding: 30px
}

.megamenu-dropdown .site-nav__dropdown h3,
.megamenu-dropdown .site-nav__dropdown .h3 {
    font-size: 14px;
    color: #999;
    text-align: left
}

.megamenu-dropdown .site-nav__dropdown ul {
    margin-left: 0
}

.megamenu-dropdown .site-nav__dropdown ul a {
    padding-left: 0 !important
}

.megamenu-dropdown .grid__item.large--one-fifth {
    border-left: 1px solid #fff;
    min-height: 250px
}

.megamenu-dropdown .grid__item.large--one-fifth:first-child {
    border-left: none
}

.nav-search {
    position: relative;
    padding: 10px 0
}

@media screen and (max-width: 768px) {
    .nav-search {
        padding: 0 0 10px;
        margin: 0 auto;
        text-align: center
    }
}

.mobile-nav {
    margin: -10px -10px 0 -10px
}

.mobile-nav li {
    margin-bottom: 0
}

.mobile-nav ul.super {
    list-style: none
}

.mobile-nav h3,
.mobile-nav .h3 {
    padding-left: 15px;
    font-size: 14px
}

.mobile-nav__search {
    padding: 10px
}

.mobile-nav__search .search-bar {
    margin-bottom: 0
}

.mobile-nav__item {
    position: relative;
    display: block
}

.mobile-nav>.mobile-nav__item {
    background-color: #f6f6f6
}

.mobile-nav__item:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-bottom: 1px solid #e9e9e9
}

.mobile-nav>.mobile-nav__item:last-child:after {
    display: none
}

.mobile-nav__item a {
    display: block
}

.mobile-nav__item a,
.mobile-nav__toggle button {
    color: #333;
    padding: 10px;
    text-decoration: none
}

.mobile-nav__item a:hover,
.mobile-nav__item a:active,
.mobile-nav__item a:focus,
.mobile-nav__toggle button:hover,
.mobile-nav__toggle button:active,
.mobile-nav__toggle button:focus {
    color: #0d0d0d
}

.mobile-nav__item a:active,
.mobile-nav__item a:focus,
.mobile-nav__toggle button:active,
.mobile-nav__toggle button:focus {
    background-color: #e9e9e9
}

.mobile-nav__item--active {
    font-weight: bold
}

.mobile-nav__has-sublist {
    display: table;
    width: 100%
}

.mobile-nav__has-sublist .mobile-nav__link {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}

.mobile-nav__toggle {
    display: table-cell;
    vertical-align: middle;
    width: 1%
}

.mobile-nav--expanded .mobile-nav__toggle-open {
    display: none
}

.mobile-nav__toggle-close {
    display: none
}

.mobile-nav--expanded .mobile-nav__toggle-close {
    display: block
}

.mobile-nav__sublist {
    margin: 0;
    max-height: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 300ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.mobile-nav--expanded+.mobile-nav__sublist {
    visibility: visible;
    max-height: 700px;
    transition: all 700ms cubic-bezier(0.57, 0.06, 0.05, 0.95)
}

.mobile-nav__sublist .mobile-nav__item:after {
    top: 0;
    bottom: auto
}

.mobile-nav__sublist .mobile-nav__link {
    padding-left: 20px;
    font-weight: normal
}

.js-drawer-open {
    overflow: hidden;
    height: 100%
}

.js-drawer-open #PageContainer:before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    content: "" !important;
    display: inline-block !important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999
}

.drawer {
    -webkit-transform: translateZ(0);
    will-change: transform;
    display: none;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    padding: 0 10px 10px;
    max-width: 95%;
    z-index: 10;
    color: #333;
    background-color: #f6f6f6;
    transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1)
}

.drawer a {
    color: #333
}

.drawer a:hover,
.drawer a:focus {
    opacity: 0.7
}

.drawer input,
.drawer textarea {
    border-color: #e9e9e9
}

.drawer--left {
    width: 300px;
    left: -300px;
    border-right: 1px solid #e9e9e9
}

.js-drawer-open-left .drawer--left {
    display: block;
    -ms-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    transform: translateX(300px)
}

.lt-ie9 .js-drawer-open-left .drawer--left {
    left: 0
}

.drawer--right {
    width: 300px;
    right: -300px;
    border-left: 1px solid #e9e9e9
}

.js-drawer-open-right .drawer--right {
    display: block;
    -ms-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px)
}

.lt-ie9 .js-drawer-open-right .drawer--right {
    right: 0
}

#PageContainer {
    overflow: hidden
}

.drawer--is-loading:before {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    content: "" !important;
    display: inline-block !important;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99999
}

.is-moved-by-drawer {
    transition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1)
}

.js-drawer-open-left .is-moved-by-drawer {
    -ms-transform: translateX(300px);
    -webkit-transform: translateX(300px);
    transform: translateX(300px)
}

.js-drawer-open-right .is-moved-by-drawer {
    -ms-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px)
}

.drawer__header {
    display: table;
    height: 70px;
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid #e9e9e9
}

.drawer__title,
.drawer__close {
    display: table-cell;
    vertical-align: middle
}

.drawer__title {
    width: 100%
}

.drawer__close {
    width: 1%;
    text-align: center;
    font-size: 1.28571em
}

.drawer__close button {
    position: relative;
    right: -20px;
    height: 100%;
    padding: 0 20px;
    color: inherit
}

.drawer__close button:active,
.drawer__close button:focus {
    background-color: #e9e9e9
}

.site-footer h4,
.site-footer .h4 {
    color: #000;
    font-size: 14px;
    text-transform: uppercase
}

.site-footer .site-footer__top {
    padding: 20px 0;
    border-top: 2px solid #000
}

.site-footer .site-footer__top>div {
    margin-top: 30px
}

.site-footer .site-footer__newsletter .newsletter-form {
    display: inline-block;
    border: 1px solid #e5e5e5;
    text-align: left;
    vertical-align: middle;
    box-sizing: content-box;
    background: #fff
}

@media screen and (max-width: 480px) {
    .site-footer .site-footer__newsletter .newsletter-form {
        width: 200px
    }
    .site-footer .site-footer__newsletter .newsletter-form input {
        width: 200px
    }
    .site-footer .site-footer__newsletter .newsletter-form label {
        display: none
    }
}

.site-footer .site-footer__newsletter .newsletter-form input {
    border: none;
    width: 333px;
    background: #fff
}

.site-footer .site-footer__newsletter .newsletter-form label {
    font-size: 12px;
    text-transform: uppercase;
    margin: 6px 0px 6px 10px;
    line-height: 30px;
    padding-right: 10px;
    border-right: 1px solid #e5e5e5;
    font-family: Poppins, sans-serif;
    color: #000
}

.site-footer .site-footer__newsletter #subscribe {
    height: 44px;
    padding-left: 20px;
    padding-right: 20px
}

.site-footer .site-footer__social li {
    margin: 0 8px
}

.site-footer .site-footer__social a {
    color: #bbbbbb
}

.site-footer .site-footer__social a:hover {
    color: #000
}

.site-footer .site-footer__main {
    padding-top: 20px;
    padding-bottom: 20px
}

.site-footer .site-footer__main ul li a {
    position: relative;
    padding: 2px 0;
    display: block;
    margin-right: 10px;
    transition: all ease 0.3s
}

.site-footer .site-footer__main ul li a:before {
    position: absolute;
    content: "\f178";
    font-family: FontAwesome;
    right: 10px;
    top: 2px
}

.site-footer .site-footer__main ul li a:hover {
    background: #eee;
    padding-left: 10px;
    transition: all ease 0.3s
}

.site-footer ul {
    list-style: none;
    margin: 0
}

.site-footer .site-footer__copyright {
    padding-bottom: 40px;
    border-bottom: 4px solid #000
}

h2.title,
.title.h2,
.tab-products .nav-tabs,
.sidebar .widget__title {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: -2px
}

h2.title:before,
.title.h2:before,
.tab-products .nav-tabs:before,
.sidebar .widget__title:before {
    position: absolute;
    content: "";
    bottom: -35px;
    left: 50%;
    margin-left: -80px;
    width: 160px;
    height: 24px;
    background-position: 0 -35px
}

h2.title.widget__title,
.title.widget__title.h2,
.tab-products .widget__title.nav-tabs,
.sidebar .widget__title {
    text-align: left
}

h2.title.widget__title:before,
.title.widget__title.h2:before,
.tab-products .widget__title.nav-tabs:before,
.sidebar .widget__title:before {
    left: 0;
    margin-left: 0;
    background-position: -50px -35px;
    width: 120px
}

.slider-carousel.owl-theme .owl-controls .owl-buttons div.owl-prev {
    right: 52px
}

.slider-carousel.owl-theme .owl-controls .owl-buttons div.owl-next {
    right: 52px;
    margin-right: -52px
}

.slider-carousel.owl-theme .owl-controls .owl-buttons div {
    width: 50px;
    height: 50px;
    top: 48%
}

.slider-carousel.owl-theme .owl-controls .owl-buttons div:before {
    line-height: 50px
}

.slider-carousel .text {
    position: absolute;
    text-align: left;
    top: 43%;
    width: 300px;
    font-size: 16px;
    left: 20%;
    color: #000
}

.slider-carousel .text .btn {
    background: transparent;
    margin-top: 20px
}

.products.owl-theme .owl-controls .owl-buttons div {
    top: -80px
}

.section-brand .owl-buttons {
    display: none
}

.section-brand:hover .owl-buttons {
    display: block
}

.section-brand .owl-theme .owl-controls .owl-buttons div.owl-prev {
    left: -30px
}

.section-brand .owl-theme .owl-controls .owl-buttons div.owl-next {
    right: -30px
}

.section-brand img {
    border: 1px solid transparent
}

.section-brand img:hover {
    border: 1px solid #e5e5e5
}

@media screen and (max-width: 480px) {
    .section-custom-top img {
        width: 100%
    }
}

.sidebar {
    font-family: "Karla", serif
}

.sidebar .widget__title {
    padding: 9px 0;
    position: relative;
    font-size: 18px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px
}

.sidebar .widget__title:before {
    bottom: -12px;
    background-position: -49px -35px;
    background-repeat: no-repeat;
    left: 0;
    margin-left: 0
}

.sidebar .widget {
    margin-bottom: 20px
}

.sidebar ul {
    list-style: none;
    margin: 0
}

.sidebar ul.menu li a {
    display: block;
    padding: 7px 20px;
    border-bottom: 1px solid #e5e5e5
}

.sidebar ul.menu li a span {
    color: #bbb;
    float: right
}

.sidebar .widget-blog-recent .article {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 10px;
    margin-bottom: 10px
}

.widget-product .item {
    overflow: hidden;
    margin-bottom: 10px
}

.widget-product .product-image {
    width: 70px;
    float: left;
    margin-right: 10px
}

.widget-product .product-name {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
    display: inline-block
}

.widget-product .spr-badge-caption {
    display: none
}

.grid__image {
    display: block
}

.grid__image img {
    display: block;
    margin: 0 auto
}

.large--display-table .grid__image {
    margin-bottom: 10px
}

.product-container {
    text-align: center;
    margin-bottom: 20px !important;
    position: relative
}

.product-container .swatch {
    position: absolute;
    margin: 0;
    text-align: left;
    top: 12px;
    left: 12px
}

.product-container .swatch .swatch-element {
    display: block;
    float: none;
    margin-bottom: 3px;
    overflow: hidden
}

.product-container .swatch label {
    text-indent: -9999em;
    border-radius: 100%;
    min-width: 15px !important;
    height: 15px !important;
    border: none
}

.owl-item .product-container {
    margin: 10px
}

.product-container .product-image {
    position: relative;
    text-align: center;
    overflow: hidden
}

.product-container .product-thumbnail {
    position: relative
}

.product-container .product-actions {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.09);
    position: absolute;
    left: 5%;
    width: 90%;
    bottom: -20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out
}

.product-container .back-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all ease 300ms
}

.product-container .btn {
    background: transparent;
    border: transparent;
    padding: 0 20px;
    border-left: solid 1px #e5e5e5;
    display: inline-block;
    color: #000
}

.product-container .btn:hover {
    color: #000
}

.product-container .btn.wishlist span {
    display: none
}

.product-container form {
    display: inline-block
}

.product-container form.add-to-cart .btn {
    border-left: 0
}

.product-container .product-meta {
    padding: 20px;
    width: 100%;
    display: inline-block;
    transition: all ease 300ms
}

.product-container .product-meta h4,
.product-container .product-meta .h4 {
    font-size: 14px;
    color: #fff;
    text-transform: none;
    font-weight: normal;
    display: inline-block;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 3px;
    position: relative
}

.product-container .product-meta h4:before,
.product-container .product-meta .h4:before {
    position: absolute;
    content: "";
    width: 0;
    transition: width ease 0.3s;
    height: 1px;
    background-color: #000;
    bottom: -1px;
    left: 0
}

.product-container:hover .back-img {
    visibility: visible;
    opacity: 1;
    transition: all ease 300ms;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.product-container:hover .product-actions {
    opacity: 1;
    visibility: visible;
    bottom: 10px;
    transition: all ease 300ms
}

.product-container:hover .product-meta h4:before,
.product-container:hover .product-meta .h4:before {
    width: 100%;
    transition: width ease 0.3s
}

.product-container .sale-price {
    color: #999;
    font-weight: normal
}

.product-container .label {
    background: #000;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0
}

.product-container .label.new {
    background: #17c187;
    left: 20px
}

.swatch {
    margin: 0 0 24px 0;
    text-transform: capitalize;
    font-size: 1.4rem
}

.swatch .crossed-out {
    display: none
}

.swatch .header {
    margin: 0 5px 0 0;
    float: left;
    min-width: 65px;
    color: #212121;
    line-height: 25px
}

.swatch input {
    display: none !important
}

.swatch label {
    cursor: pointer;
    float: left;
    min-width: 25px !important;
    height: 25px !important;
    border-radius: 25px;
    margin: 0;
    background-color: #eee;
    text-align: center;
    line-height: 25px;
    white-space: nowrap;
    text-transform: uppercase;
    border: 1px solid #ebebeb
}

.swatch-element label {
    padding: 0 10px
}

.color.swatch-element label {
    padding: 0
}

.swatch input:checked+label {
    font-weight: 700;
    background: #ffa200;
    color: #FFF;
    line-height: 25px !important
}

.swatch [class*="color"] input:checked+label {
    border: 1px solid #31373d
}

.swatch .swatch-element {
    float: left;
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
    margin: 0px 10px 0 0;
    position: relative
}

.swatch .swatch-element.color label {
    position: relative
}

.swatch .swatch-element.color label:before {
    content: url();
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    line-height: 40px
}

.swatch .swatch-element.color input:checked+label:before {
    opacity: 1;
    visibility: visible
}

.swatch .swatch-element.color.white label {
    -webkit-box-shadow: inset 0 0 0 1px #eee;
    box-shadow: inset 0 0 0 1px #eee
}

.crossed-out {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0
}

.swatch .swatch-element .crossed-out {
    display: none
}

.swatch .swatch-element.soldout .crossed-out {
    display: block
}

.swatch .swatch-element.soldout label {
    filter: alpha(opacity=60);
    -khtml-opacity: 0.6;
    -moz-opacity: 0.6;
    opacity: 0.6
}

.swatch .tooltip {
    display: none
}

.swatch.error {
    background-color: #e8d2d2 !important;
    color: #333 !important;
    padding: 1em;
    border-radius: 5px
}

.swatch.error p {
    margin: 0.7em 0
}

.swatch.error p:first-child {
    margin-top: 0
}

.swatch.error p:last-child {
    margin-bottom: 0
}

.swatch.error code {
    font-family: monospace
}

.quickview-product .selector-wrapper {
    display: none
}

.quickview-product .total-price {
    margin-bottom: 15px
}

.collection__image {
    margin-bottom: 20px
}

.collection__sort #SortBy {
    border: none
}

.filter--active {
    font-weight: bold
}

.breadcrumb {
    margin-bottom: 20px
}

.breadcrumb a,
.breadcrumb span {
    display: inline-block;
    padding: 0 7px 0 0
}

.breadcrumb a:first-child,
.breadcrumb span:first-child {
    padding-left: 0
}

.product-single__variants {
    display: none
}

.no-js .product-single__variants {
    display: block
}

.product-single__photos {
    margin-bottom: 20px
}

.product-single__thumbnails {
    height: 615px;
    margin: 0
}

.product-single__thumbnails .product__thumbnails {
    width: 80px;
    margin: 0 0 20px
}

@media screen and (max-width: 480px) {
    .product-single__thumbnails .product__thumbnails {
        float: left;
        margin-right: 4px
    }
}

.product-single__photos a,
.product-single__photos img,
.product-single__thumbnails a,
.product-single__thumbnails img {
    display: block;
    margin: 0 auto
}

.product-single__photos li,
.product-single__thumbnails li {
    margin-bottom: 15px
}

.product-single #AddToCart {
    width: 100%
}

.product-single #AddToCartText {
    padding-left: 30px;
    position: relative;
    text-transform: uppercase;
    font-weight: normal
}

.product-single .wishlist {
    width: 100%;
    background: #fff;
    color: #000;
    border-bottom: 1px solid #e5e5e5
}

.product-single .wishlist:hover {
    color: #000
}

.des-short {
    margin-top: 15px
}

.add-this {
    text-align: center;
    margin: 20px 0
}

.add-this .addthis_toolbox {
    display: inline-block
}

.product-tabs {
    margin-bottom: 20px
}

.selector-wrapper {
    display: none
}

.selector-wrapper label[for] {
    float: left;
    min-width: 60px;
    line-height: 39px
}

.spr-icon {
    font-size: 9px !important;
    float: none !important
}

.spr-review-header-title,
.spr-header-title {
    font-size: 14px !important
}

.spr-container {
    padding: 0 !important;
    border: none !important
}

.cloud-zoom-big {
    overflow: hidden
}

.cloud-zoom-lens {
    background-color: #fff;
    cursor: move
}

.cloud-zoom-wrap {
    top: 0;
    z-index: 9999;
    position: relative
}

.cloud-zoom-loading {
    color: white;
    background: #222;
    padding: 3px
}

.product-single__photos {
    text-align: center;
    position: relative;
    z-index: 40
}

.product-single__photos img {
    width: 100%
}

.product-single__photos a {
    display: block;
    text-align: center
}

article .post-thumbnail {
    margin-bottom: 30px
}

article .post-thumbnail img {
    margin-bottom: 15px
}

article .btn {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal
}

.latest-posts-body .entry-meta {
    padding: 20px 30px
}

.latest-posts-body .post-thumbnail img {
    display: inline-block
}

.latest-posts-body .entry-title {
    text-transform: none;
    margin: 15px 0
}

.latest-posts-body .entry-title a {
    color: #000
}

.latest-posts-body em {
    color: #b9b9b9
}

.latest-posts-v1 h2,
.latest-posts-v1 .h2,
.latest-posts-v1 .tab-products .nav-tabs,
.tab-products .latest-posts-v1 .nav-tabs {
    font-size: 30px;
    text-align: left;
    margin-top: 16px
}

.latest-posts-v1 .latest-posts-body {
    border-top: 1px solid #e5e5e5
}

.latest-posts-v1 .latest-posts-body:first-child {
    border-top: none
}

.latest-posts-v1 .latest-posts-body img {
    border-radius: 100%
}

.latest-posts-v1 .post-thumbnail {
    width: 110px;
    float: left;
    height: 150px;
    margin-top: 35px;
    margin-right: 20px
}

.latest-posts-v1:before {
    background:  !important
}

.latest-posts-v1>div {
    position: relative
}

.latest-posts-v1 .banner {
    position: absolute
}

.list-blog .post-thumbnail {
    float: left;
    margin-right: 30px
}

.note,
.errors {
    border-radius: 0px;
    padding: 6px 12px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    font-size: 0.9em;
    text-align: left
}

.note ul,
.note ol,
.errors ul,
.errors ol {
    margin-top: 0;
    margin-bottom: 0
}

.note li:last-child,
.errors li:last-child {
    margin-bottom: 0
}

.note p,
.errors p {
    margin-bottom: 0
}

.note {
    border-color: #e5e5e5
}

.errors ul {
    list-style: disc outside;
    margin-left: 20px
}

.form-success {
    color: #56ad6a;
    background-color: #ecfef0;
    border-color: #56ad6a
}

.form-success a {
    color: #56ad6a;
    text-decoration: underline
}

.form-success a:hover {
    text-decoration: none
}

.form-error,
.errors {
    color: #d02e2e;
    background-color: #fff6f6;
    border-color: #d02e2e
}

.form-error a,
.errors a {
    color: #d02e2e;
    text-decoration: underline
}

.form-error a:hover,
.errors a:hover {
    text-decoration: none
}

.cart__row {
    position: relative;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e5e5e5
}

.cart__row:first-child {
    margin-top: 0
}

.cart__row:first-child {
    padding-top: 0
}

.cart__row .js-qty,
.cart__row .ajaxcart__qty {
    margin: 0 auto
}

.cart__row.cart__header-labels {
    border-top: none;
    font-size: 16px;
    color: #000
}

.cart-table th {
    font-weight: bold
}

.cart-table td,
.cart-table th {
    padding: 30px 15px;
    border: none
}

@media screen and (min-width: 769px) {
    .cart__row--table-large {
        display: table;
        table-layout: fixed;
        width: 100%
    }
    .cart__row--table-large .grid__item {
        display: table-cell;
        vertical-align: middle;
        float: none
    }
}

.cart__image {
    display: block
}

.cart__image img {
    display: block;
    max-width: 100%
}

.cart__subtotal {
    margin: 0 0 0 6.66667px;
    display: inline
}

.cart__mini-labels {
    display: block;
    margin: 6.66667px 0;
    font-size: 0.85714em
}

@media screen and (min-width: 769px) {
    .cart__mini-labels {
        display: none
    }
}

.cart__remove {
    display: block
}

.wishlist-table td.product-name img {
    margin-right: 10px
}

.contact-box .inner {
    height: 190px;
    vertical-align: middle;
    overflow: hidden;
    padding: 50px 0;
    margin: 50px 0 70px;
    line-height: 25px;
    border: 1px solid #e5e5e5
}

.contact-box i {
    color: #000;
    font-size: 24px
}

.ajaxcart__inner {
    margin-bottom: 20px
}

.ajaxcart__row>.grid,
.ajaxcart__row>.grid--rev,
.ajaxcart__row>.grid--full {
    margin-left: -10px
}

.ajaxcart__row>.grid>.grid__item,
.ajaxcart__row>.grid--rev>.grid__item,
.ajaxcart__row>.grid--full>.grid__item {
    padding-left: 10px
}

.ajaxcart__product {
    position: relative;
    max-height: 500px
}

.ajaxcart__product.is-removed {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 450ms cubic-bezier(0.57, 0.06, 0.05, 0.95);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.ajaxcart__row {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e9e9e9
}

.ajaxcart__product-image {
    display: block;
    overflow: hidden;
    margin-bottom: 15px
}

.ajaxcart__product-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%
}

.ajaxcart__product-name,
.ajaxcart__product-meta {
    display: block
}

.ajaxcart__product-name+.ajaxcart__product-meta {
    padding-top: 4px
}

.js-qty,
.ajaxcart__qty {
    position: relative;
    max-width: 100px;
    min-width: 60px;
    overflow: visible
}

.js-qty input,
.ajaxcart__qty input {
    display: block;
    background: none;
    text-align: center;
    width: 100%;
    padding: 5px 25px;
    margin: 0
}

.js-qty__adjust,
.js-qty>span,
.ajaxcart__qty>span,
.ajaxcart__qty-adjust {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    border: 0 none;
    padding: 8px;
    background: none;
    text-align: center;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.js-qty__adjust:hover,
.js-qty>span:hover,
.ajaxcart__qty>span:hover,
.ajaxcart__qty-adjust:hover,
.js-qty__adjust:focus,
.js-qty>span:focus,
.ajaxcart__qty>span:focus,
.ajaxcart__qty-adjust:focus {
    color: #747474
}

.js-qty__adjust--plus,
.js-qty>span.qtyplus,
.ajaxcart__qty>span.qtyplus,
.ajaxcart__qty--plus {
    right: 0
}

.js-qty__adjust--minus,
.js-qty>span.qtyminus,
.ajaxcart__qty>span.qtyminus,
.ajaxcart__qty--minus {
    left: 0
}

.ajaxcart__qty {
    margin: 0
}

.is-loading .ajaxcart__qty {
    opacity: 0.5;
    transition: none
}

.ajaxcart__qty-num {
    border-color: #e9e9e9;
    color: #333
}

.ajaxcart__qty-adjust {
    color: #333
}

.ajaxcart__qty--plus {
    border-color: #e9e9e9
}

.ajaxcart__qty--minus {
    border-color: #e9e9e9
}

.custom-center {
    position: relative;
    margin-bottom: 40px !important
}

@media screen and (max-width: 480px) {
    .custom-center img {
        display: none
    }
}

.custom-center .border {
    border-color: #e5e5e5
}

.custom-center img {
    position: absolute;
    bottom: 8px
}

.spr-badge .spr-icon,
.spr-badge .spr-icon-star {
    font-size: 14px !important;
    margin-right: 0.5px
}

.spr-badge .spr-badge-caption {
    display: none
}