*{
  box-sizing: border-box;
}

h1, h2, h3,h4,h5,h6{
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  color: #242626;
} 

h1, .h1, .br-title {
  font-size: 30px;
}

.pb0{  
  padding-bottom: 0 !important;
}

.dropdown:hover .dropdown-menu{
  opacity: 1;
  visibility: visible;
  z-index: 1000000;
}

.dropdown-animation{
  transition: all ease 0.25s;
}

.dropdown-animation:hover .dropdown-menu{
  transform: translateY(0px);  
}

.stickyheader{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background: #fff;
  box-shadow: 0 1px 10px rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0);
}

.shopify-payment-button__button--hidden {
  visibility: hidden;
}

.shopify-payment-button__button {
  border-radius: 4px;
  border: none;
  box-shadow: 0 0 0 0 transparent;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  width: 100%;
  transition: background 0.2s ease-in-out;
}

.shopify-payment-button__button[disabled] {
  opacity: 0.6;
  cursor: default;
}

.shopify-payment-button__button--unbranded {
  background-color: #1990c6;
  padding: 1em 2em;
}

.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: #136f99;
}

.shopify-payment-button__more-options {
  background: transparent;
  border: 0 none;
  cursor: pointer;
  display: block;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
  width: 100%;
}

.shopify-payment-button__more-options:hover:not([disabled]) {
  text-decoration: underline;
}

.shopify-payment-button__more-options[disabled] {
  opacity: 0.6;
  cursor: default;
}

.shopify-payment-button__button--branded {
  display: flex;
  flex-direction: column;
  min-height: 44px;
  position: relative;
  z-index: 1;
}

.shopify-payment-button__button--branded .shopify-cleanslate {
  flex: 1 !important;
  display: flex !important;
  flex-direction: column !important;
}

.dropdown .engoc-cart-count {
  color: #ffffff;
  background-color: #c61932;
}

/*========== Custom Wistlist Count Lable ==========*/

.dropdown .engoc-count-wl {
  color: #ffffff;
  background-color: #ffa200;
}

/*========== Border Wistlist Button ==========*/

.engoc-border-wistlist a {
  border: 1px solid #242626;
}


/*========== Custom Header Promotion ==========*/

.engoc-promotion {
  color: #ffffff;
  background-color: #c61932;
}

.br-promotion .btn {
  color: #ffffff;
  border-color: #ffffff;
}

.br-promotion .close {
  color: #ffffff;
}

/* ====== Promotion Countdown ====== */

.engo-promotion-countdown {
  font-family: Montserrat, sans-serif;
}

.engo-promotion-countdown li {
  color: #ffffff;
  margin-right: 3px !important;
}

.engo-promotion-countdown li:first-child {
  margin-right: 10px !important;
}

/*========== Custom Header Topbar ==========*/

.engoc-topbar {
  color: #000000;
  background-color: #ffffff;
}

.engoc-topbar .engoc-topbar-line {
  border-bottom: 1px solid #ebebeb;
}

.br-board .dropdown a {
  color: #000000;
}

.engoc-header-nav-s1 .dropdown.engoc-dropdown-search a {
  border-right: 1px solid #ebebeb;
}

.text-center{
  text-align: center !important;
}


.bn1{
  text-align: center; 
  color: #ffffff; 
  font-size: 80px; 
  margin-bottom: 30px;
}

.slide-banner-full{
  display: inline-block !important;
  width: 100% !important;
}

.slidercontainer{
  white-space: nowrap !important; 
  overflow-x: hidden !important;
}

.slidertransition{
  transition: 0.7s;  
}

@media screen and (max-width: 992px) {
  .slidercontainer {
    overflow-x: auto !important;
  }
  .slidercontainer .slick-arrow{
    display: none !important;
  }
}

.starcolor{
  color: #ffa200;
}

.spr-badge {
  min-height: auto;
  min-width: auto;
  display: block;
}

.colorwhite{
  color: #fff !important;
}

.btn, button, input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  margin-bottom: 0px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  font-size: 14px;
  line-height: 1.71429;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  padding: 10px 20px;
  border-radius: 0px;
}

.faright{
  font-size: 10px;
  font-weight: 400;
}

.pageactive{
  background: #c61933;
}

.pageactive a{
  color: white !important;
}

.mb20{
  margin-bottom: 20px;
}

.cartimage{
  width: 70px;
  height: 100px;
}

.carttable td{
  font-size: 12px !important;
  color: #898989 !important;
  font-weight: 400 !important;
}

.inline-block{
  display: inline-block;
}

.desc{
  font-size: 14px;
  line-height: 24px;
  color: #898989;
}

.float-none{
  float: none !important;
}

.related-slider{
  position: relative;
}

.detailactive{
  border: 2px solid red;
}

.m150{
  margin-top: 150px;
}

.pr10{
  padding-right: 10px;
}

.popimage{
  transition: 0.5s;
}

.popimage:hover{
  transform: scale3d(1.1, 1.1, 1.1);
}

.mobilemenu, .mobile-sidemenu{
  display: none !important;
}

@media screen and (max-width: 1200px) {
  .desktopmenu{
    display: none !important;
  }
  .mobilemenu{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px;
  }
  .mobilelogo{
    height: 35px;
  }
  .mobile-sidemenu{
    display: block !important;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 10000;
    width: 70%;
    height: 100vh;
    overflow: auto;
  }

  .mobile-sidemenu li {
    padding: 10px 20px;
  }
  .sidemenu-background{
    background: rgb(63, 128, 226);
    height: 30%;
    display: flex;
    flex-direction: column-reverse;
  }
}
